<section class="abstract">
  <article><%= render_markdown('intro') %></article>
  <article><%= render_markdown('background') %></article>
  <article><%= render_markdown('who') %></article>
</section>

<section class="concrete">
  <article><%= render_markdown('toc') %><article>
</section>

<footer>
  <span><a href="http://www.12factor.net/">Written by Adam Wiggins</a>, Translated by orangain</span>
  <span>Last updated Jan 30, 2012</span>
  <span><a href="http://github.com/adamwiggins/12factor">Sourcecode</a>, <a href="http://github.com/orangain/12factor">Sourcecode (Japanese)</a></span>
  <span><a href="/12factor.epub">Download ePub Book</a></span>
</footer>
